.c-contact {
	outline: 1px solid grey;
	h2 {
		margin-top: 2rem;
		text-align: center;
	}
}
.c-contact__form {
	margin-top: 1rem;
	label,
	input,
	textarea {
		display: block;
		width: 100%;
		padding: 0.25rem;
	}
	label {
		margin-top: 0.25rem;
	}
	textarea {
		height: auto;
	}
	button {
		display: block;
		padding: 0.5rem 2rem;
		margin-top: 1rem;
		border: none;
		outline: none;
		border-radius: 2px;
		font-weight: bold;
		color: white;
		background-color: darkblue;
	}
}
